<%= form_tag(tasks_url, method: "get", class: "form-inline") do %>
	<%= submit_tag 'Найти', class: "btn btn-default" %>
	<div class="form-group"><%= date_field :search, :date, class: "form-control"%></div>
<% end %>