<%= form_tag(tasks_url, method: "get", class: "form-inline navbar-form navbar-left") do %>
	<div class="form-group"><%= date_field :search, :date, class: "form-control"%></div>
	<%= submit_tag 'Найти', class: "btn btn-default" %>
<% end %>